---
import	'../styles/table.css'
import Base from '../layouts/base.astro';
import Card from '../components/Card.astro';
import '../styles/global.css'
import Header from '../components/header.astro';
const response = await fetch("https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=100&page=1&sparkline=false");
const data = await response.json();
const currency =data;

let i = 0;
for(let curr in currency){
	if (i<10) {
		 console.log(currency[curr].name)
		 i++
	}
 
 
}

---
<Base>
 
 <div class="currencys_cards">
				<div class="cards">
					 <Card title="Bitcoin (BTC)" descripcion="Primarily conceived as a form of digital money and store of value, with a focus on decentralization and censorship resistance." />
				</div>
				 
				 <div class="cards">
					 <Card title="Ethereum" descripcion="Designed to be a platform for decentralized applications (dApps) and smart contracts, enabling a wide range of use cases beyond financial transactions." />
				</div>
				 
				 <div class="cards">
					 <Card title="Ripple" descripcion="Aimed at facilitating cross-border payments and financial transactions between financial institutions and banks." />
				</div>
				 
				 <div class="cards">
					 <Card title="Litecoin" descripcion="Similar to Bitcoin, but with faster confirmation times and lower transaction fees, making it suitable for everyday transactions and micropayments." />
				</div>
				 
				
			</div>

<table class="tabla">
	<thead>
		<tr>
			<th>Image</th>
			<th>Name</th>
			<th>Current price</th>
			<th>Market cap</th>
			<th>Total volume</th> 
			<th>Price change_24h</th> 
			<th>High 24h</th>
			<th>Low 24h</th>
			<th>Circulating supply</th>
			<th>Ath</th>
			<th>Last updated</th>

		</tr>
	 </thead>
    <tbody>
    	<tr>
    		{ (()=>{
    			let i=0;
    			const rows = []
    			for(let curr in currency){
    				if (i<20) {
    					rows.push(
    					<>
    					<tr>
    					<th class="img_cur"><img src={currency[curr].image} alt="" /></th>
    					<th>{currency[curr].name}</th>
    					<th>{currency[curr].current_price}</th>
    					<th>{currency[curr].market_cap}</th>
    					<th>{currency[curr].total_volume}</th>
    					<th>{currency[curr].price_change_24h}</th>
    					<th>{currency[curr].high_24h}</th>
    					<th>{currency[curr].low_24h}</th>
    					<th>{currency[curr].circulating_supply}</th>
    					<th>{currency[curr].ath}</th>
    					<th>{currency[curr].last_updated}</th>
    				 
    					</tr>
    					</>);
    					i++
    					 

    				}  else{
    					break
    				}
    			}
    			return rows;
    		})()}
    			 
    	 
    	</tr>
     </tbody>
</table>
</Base>
 